@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  font-size: 10px;
  font-family: math;
  line-height: 24px;
}
.textBigger {
  font-size: 12px;
  font-family: math;
  line-height: 24px;
}
.textBiggest {
  font-size: 14px;
  font-family: math;
  line-height: 24px;
}
.spacingContent {
  padding-left: 7%;
  padding-right: 7%;
}
.ant-select-selector {
  font-size: 10px !important;
}
.ant-select-selector {
  font-size: 10px !important;
  height: 25px !important;
}
.ant-select-arrow {
  font-size: 6px !important;
  height: 10px !important;
}
.ant-btn {
  font-size: 10px !important;
  font-family: math !important;
  line-height: 24px !important;
}
.changeLang .ant-select-arrow {
  margin-top: -3px !important;
}
.ant-btn-primary {
  color: #fff;
  background-color: #1677ff;
  box-shadow: 0 2px 0 rgba(5, 145, 255, 0.1);
}

@media (min-width: 800px) {
  body {
    font-size: 12px;
    font-family: math;
    line-height: 24px;
  }
  .textBigger {
    font-size: 14px;
    font-family: math;
    line-height: 24px;
  }
  .textBiggest {
    font-size: 16px;
    font-family: math;
    line-height: 24px;
  }
  .spacingContent {
    padding-left: 10%;
    padding-right: 10%;
  }
  .ant-select-selector {
    font-size: 12px !important;
    line-height: 24px;
  }
  .ant-select-selector {
    font-size: 12px !important;
    line-height: 24px;
  }
  .ant-select-arrow {
    font-size: 8px !important;
    height: 10px !important;
  }
  .ant-btn {
    font-size: 12px !important;
    font-family: math !important;
    line-height: 24px !important;
  }
  .changeLang .ant-select-arrow {
    margin-top: -6px !important;
  }
}

@media (min-width: 1224px) {
  body {
    font-size: 14px;
    font-family: math;
    line-height: 24px;
  }
  .textBigger {
    font-size: 16px;
    font-family: math;
    line-height: 24px;
  }
  .textBiggest {
    font-size: 18px;
    font-family: math;
    line-height: 24px;
  }
  .spacingContent {
    padding-left: 12%;
    padding-right: 12%;
  }
  .ant-select-selector {
    font-size: 14px !important;
    line-height: 24px;
  }
  .ant-select-selector {
    font-size: 14px !important;
    line-height: 24px;
    height: 30px !important;
  }
  .ant-select-arrow {
    font-size: 10px !important;
    height: 10px !important;
  }
  .ant-btn {
    font-size: 14px !important;
    font-family: math !important;
    line-height: 24px !important;
  }
  .changeLang .ant-select-selection-item {
    margin-top: 2px !important;
  }
}

@media (min-width: 1600px) {
  body {
    font-size: 16px;
    font-family: math;
    line-height: 24px;
  }
  .textBigger {
    font-size: 18px;
    font-family: math;
    line-height: 24px;
  }
  .textBiggest {
    font-size: 20px;
    font-family: math;
    line-height: 24px;
  }
  .spacingContent {
    padding-left: 14%;
    padding-right: 14%;
  }
  .ant-select-selector {
    font-size: 16px !important;
    line-height: 24px;
  }
  .ant-select-selector {
    font-size: 16px !important;
    line-height: 24px;
    height: 35px !important;
  }
  .ant-select-arrow {
    font-size: 12px !important;
    height: 10px !important;
  }
  .ant-btn {
    font-size: 16px !important;
    font-family: math !important;
    line-height: 24px !important;
  }
  .changeLang .ant-select-selection-item {
    margin-top: 2px !important;
  }
}

*::-webkit-scrollbar {
  width: 6px;
}

*::-webkit-scrollbar-track {
  background: black;
}

*::-webkit-scrollbar-thumb {
  background-color: slategrey;
  border-left: 1px solid black;
  border-right: 1px solid black;
}

.changeLang .ant-select-selector {
  color: white !important;
  background-color: black !important;
  font-family: math !important;
  border: 0 !important;
}
.changeLang .ant-select-selection-item {
  color: white !important;
}
.changeLang .ant-select-arrow {
  color: white !important;
}
.ant-select-selector {
  font-family: math !important;
}

:root {
  --toastify-color-light: #fff;
  --toastify-color-dark: #121212;
  --toastify-color-info: #3498db;
  --toastify-color-success: #07bc0c;
  --toastify-color-warning: #f1c40f;
  --toastify-color-error: #e74c3c;
  --toastify-color-transparent: rgba(255, 255, 255, 0.7);

  --toastify-icon-color-info: var(--toastify-color-info);
  --toastify-icon-color-success: var(--toastify-color-success);
  --toastify-icon-color-warning: var(--toastify-color-warning);
  --toastify-icon-color-error: var(--toastify-color-error);

  --toastify-toast-width: 320px;
  --toastify-toast-background: #fff;
  --toastify-toast-min-height: 64px;
  --toastify-toast-max-height: 800px;
  --toastify-font-family: sans-serif;
  --toastify-z-index: 9999;

  --toastify-text-color-light: #757575;
  --toastify-text-color-dark: #fff;

  --toastify-text-color-info: #fff;
  --toastify-text-color-success: #fff;
  --toastify-text-color-warning: #fff;
  --toastify-text-color-error: #fff;

  --toastify-spinner-color: #616161;
  --toastify-spinner-color-empty-area: #e0e0e0;

  --toastify-color-progress-light: linear-gradient(
    to right,
    #4cd964,
    #5ac8fa,
    #007aff,
    #34aadc,
    #5856d6,
    #ff2d55
  );
  --toastify-color-progress-dark: #bb86fc;
  --toastify-color-progress-info: var(--toastify-color-info);
  --toastify-color-progress-success: var(--toastify-color-success);
  --toastify-color-progress-warning: var(--toastify-color-warning);
  --toastify-color-progress-error: var(--toastify-color-error);
}
